<!DOCTYPE html>
<html>
    <head>
    <title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LDJLDJLDJLDJ</title>
    </title>
    <style>
        h2 {
            color:lime;
            text-decoration: underline;
        }
        body {background-color:deeppink}
    </style>
    </head>
    
    <body>
        <h1><font size="10">Welcome!!!!</font></h1>
        <h3>
            go to /notebook
        </h3>
        <h3>
            go to paul
        </h3>
        <h2>
            checkout 3.34.79.184/notebook
        </h2>
        <p id="date"></p>
        <script>
            function printDate() {
                document.getElementById("date").innerHTML = Date();
            }
        </script>
        <iframe src="https://giphy.com/embed/3oxRmuzzDllpSr1fWg" width="480" height="322" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mona-lisahaircut-3oxRmuzzDllpSr1fWg">via GIPHY</a></p>
    <!-- <p>
        {% load static %}
    <img src="{% static 'tom_tivodo.gif' %}" alt="My image">
    </p> -->
    </body>
</html>