<!DOCTYPE html>
<html>
    <head>
    <title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </title>
    <style>
        h2 {
            color:lime;
            text-decoration: underline;
        }
        body {background-color:deeppink}
    </style>
    </head>
    
    <body>
        <h1>LDJLDJLDJLDJ</h1>
        <h3>
            go to /notebook
        </h3>
        <h3>
            go to paul
        </h3>
    <p>
        {% load static %}
    <img src="{% static 'tom_tivodo.gif' %}" alt="My image">
    </p>
    </body>
</html>