<!DOCTYPE html>
<html>
    <head>
    <title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </title>
    </head>
    
    <body>
        <h1>testing!!</h1>
    <p>
        <iframe src="https://giphy.com/embed/8vO8M5ct3sWIJ913ho" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nba-8vO8M5ct3sWIJ913ho">via GIPHY</a></p>
        <!-- {% load static %}
    <img src="{% static 'tom_tivodo.gif' %}" alt="My image"> -->
    </p>
    </body>
</html>